.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
    overflow: visible !important;
}

.sidebar-action-btn {
    position: absolute;
    right: -10px;
    box-shadow: 0 0 20px 5px rgb(243, 237, 237);
    background: white;
    padding: 0px;
    top: 10px;
    padding: 0px;
    border-radius: 50%;

    svg {
        font-size: 20px;
    }
}